.connect-with-me {
    text-align: center;
    margin: 40px 0;
  }
  
  .connect-with-me h2 {
    font-size: 1.5rem;
    color: #fff;
    margin-bottom: 10px;
  }
  
  .icons {
    display: flex;
    justify-content: center;
    gap: 15px; 
  }
  
  .icons a {
    color: #fff; 
    font-size: 2rem; 
    transition: color 0.3s;
  }
  
  .icons a:hover {
    color: #0a74da; 
  }
  